body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
#wrapper {
  width: 100vw;
  margin: auto;
  display: flex;
  gap:50px;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin-right: 0;
  margin-left: 7%;
  
}
.Image {
  width: 100%;
  height: 700px;
  border-radius: 15px;
  object-fit: cover;
}
#right{
    height: 100%;
    width: 60%;
}
.design{
    height: 46px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid;
    background-color: #F7FBFF;
    color: #8897AD;
    margin-bottom: 17px;
    padding-left: 14px;
    font-size:14px;
}
.signinbtn{
    height: 48px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid;
    background-color: #162D3A;
    color: #FFFFFF;
    margin-bottom: 17px;
    padding-left: 14px;
    cursor: pointer;
}
#left{
    height: 100%;
    width: 400px;
    padding: 10px;
    font-size: 19px;
}
#others{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-right: 40px;
}
.fpass{
      color:rgb(28, 72, 232);
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      width: 346px;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #2f4f5f; 
  font-weight: 500;
  width: 90% ;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #c4c8ca;
  margin: 0 10px;
}
.sty{
    border: 1px solid;
    padding: 6px;
    border-radius: 20px;
    height: 19px;
    width: 19px;
    cursor: pointer;
}
.sty:hover{
    background-color: #f1f1f7;
}
.lastp{
    text-align: center;
}
.signin{
    color: rgb(28, 72, 232);
    cursor: pointer;
}
.footer {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  color: #888;
  margin-bottom: -40px;
}
@media (max-width: 768px) {
  
  #wrapper {
    position: absolute;
  width: 342px;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap:2px;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 100px; */
}
  .Image {
    position: relative;
  width: 330px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
}
.fpass{
      color:rgb(28, 72, 232);
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      width: 310px;
}
.design{
    height: 42px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid;
    background-color: #F7FBFF;
    color: #8897AD;
    margin-bottom: 17px;
    padding-left: 14px;
    font-size:14px;
}
#left h2{
    height: 24px;
    width: 342px;
    padding: 10px;
}
#left h2 p{
    height: 24px;
    width: 342px;
    padding: 10px;
}
form{
  height: 234px;
  width: 342px;
}
#others{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 90px;
  margin-right: 30px;
  cursor: pointer;
}
#left{
  width: 342px;
  font-size: 19px;
}
#right{
    height: 100%;
    width: 342px;
}
.para{
  font-size: 16px;
}
.signinbtn{
  cursor: pointer;
}
}
